# Deny all
*

# Root files
!/.gitignore
!/README.md
!/package.json
!/bun.lockb

# Jekyll
!/_data/
!/_data/*.yml/

!/_posts/
!/_posts/*/
!/_posts/*/*.md

!/_includes/
!/_includes/partials/
!/_includes/**/*.html

!/_layouts/
!/_layouts/*.html

!/_sass/
!/_sass/*.scss

!/_config.yml
!/404.md
!/index.md

# App files

!/favicon.ico
!/*.md

!/functions/
!/functions/api/
!/functions/api/*.ts

!/apps/
!/apps/*/
!/apps/*/script.js
!/apps/*/index.md
!/apps/nsfw/*
!/apps/index.md

!/blog/
!/blog/all/
!/blog/categories/
!/blog/index.md
!/blog/all/index.html
!/blog/categories/*.md

!/slides/
!/slides/*/
!/slides/*/assets/
!/slides/*/assets/**/
!/slides/*/assets/**/*.avif
!/slides/*/assets/**/*.png
!/slides/*/assets/**/*.svg
!/slides/*/assets/**/*.gif
!/slides/index.md
!/slides/*/index.html

!/assets/
!/assets/css/
!/assets/css/global.scss
!/assets/font/
!/assets/font/*.woff
!/assets/font/*.woff2
!/assets/img/
!/assets/img/portfolio/
!/assets/img/posts/
!/assets/img/posts/*/
!/assets/img/**/*.avif
!/assets/img/**/*.webp
!/assets/img/**/*.png
!/assets/img/**/*.jpg
!/assets/resume/
!/assets/resume/*.pdf

# Cloudflare Workers
!/workers/
!/workers/src/
!/workers/src/worker.js
!/workers/wrangler.toml
!/workers/package.json
!/workers/package-lock.json
