@media screen and (prefers-color-scheme: dark) {
    :root {
        --bg-color: #333;
        --card-color: #222;
        --card-accent: #000;
        --text-color: #eee;
        --text-accent: #e6f;

        --bg-zone-a: #e33;
        --bg-zone-b: #66f;
        --bg-success: #4a4;
    }
}
