@font-face {
  font-family: s;
  src: url(/f/t.woff2) format("woff2"), url(/f/s.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: f;
  src: url(/f/g.woff2) format("woff2"), url(/f/f.woff) format("woff");
}
