@font-face {
  font-family: s;
  src: url(f/t) format("woff2"), url(f/s) format("woff");
  font-display: swap;
}

@font-face {
  font-family: f;
  src: url(f/g) format("woff2"), url(f/f) format("woff");
}
