@media only screen and (max-width: 48rem) {
  body {
    display: initial;
  }

  .f {
    display: block;
  }

  .e {
    display: none;
  }

  .c {
    margin-top: 2rem;
  }

  #m,
  #g,
  #p .d > * {
    width: 100%;
    margin: 0;
  }

  #p .d {
    flex-direction: column;
  }

  .g {
    position: static;
    margin: 0;
  }
}
