:root {
    --bg-color: #ddd;
    --card-color: #fff;
    --card-accent: #bbb;
    --text-color: #000;
    --text-accent: #809;

    --bg-zone-a: #fdd;
    --bg-zone-b: #ddf;
    --bg-success: #dfd;

    --indicator-error: #ff2828;
    --indicator-success: #b1f626;
}
