---
---

@import "fonts";

html {
    background: #ecf0f1;
}

i {
    font-style: normal;
    display: inline-block;
    font-family: icon;
    font-weight: 100;
}

body {
    max-width: 960px;
    margin: 0 auto;
    overflow-y: scroll;
    display: flex;
    font-family: text, Helvetica;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-weight: 400;
}

a {
    text-decoration: none;
}

#m, #g {
    margin: 0 1rem;
}

#m {
    width: 40%;
}

#g {
    width: 60%;
}

.c {
    margin: 2rem 0;
    background: #fff;
    padding: 1rem;
    box-shadow: 5px 5px #ddd;
}

.t,i {
    text-align: center;
}

.links > a {
    cursor: pointer;
    display: block;
    font-size: 1.3rem;
    color: #000;
}

.links > a > i {
    width: 2rem;
}

a, nav > a:hover, .p {
    color: #809;
}
    
.links a.active {
    font-weight: 700;
    color: #809;
}

.f {
    display: none;
}

#p .d {
    display: flex;

    & > * {
        width: 50%;
        margin: 0 1rem;
    }
    
    .portfolio-image {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 100%;
        }
    }
}


u {
    display: inline-block;
    background: url("/assets/img/i.png");
    height: 72px;
    width: 72px;
}

#m :first-child:hover > u {
    transform: rotate(-15deg) scale(1.1);
}

#m .t:hover h1 {
    color: rgba(0,0,0,.1);
}

.a {
    transition: all .1s;
}

@import "responsive";