---
    # // Style entry point
---

@import "fonts"

html {
    background: #ecf0f1;
}

i {
    font-style: normal;
    display: inline-block;
    font-family: icon;
    font-weight: 100;
}

body {
    max-width: 960px;
    margin: 0 auto;
    overflow-y: scroll;
    display: flex;
    font-family: text, Helvetica;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-weight: 400;
}

a {
    text-decoration: none;
}

#m, #g {
    margin: 0 1rem;
}

#m {
    width: 40%;
}

#g {
    width: 60%;
}

.c {
    margin: 2rem 0;
    background: #fff;
    padding: 1rem;
    box-shadow: 5px 5px #ddd;
}

.t,i {
    text-align: center;
}

.links > a {
    cursor: pointer;
    display: block;
    font-size: 1.3rem;
    color: #000;
}

.links > a > i {
    width: 2rem;
}

a, nav > a:hover, .p {
    color: #809;
}
    
.links a.active {
    font-weight: 700;
    color: #809;
}

.f {
    display: none;
}

#p .d {
    display: flex;
    align-items: stretch;
}

#p .d > * {
    width: 50%;
    margin: 0 1rem;
    position: relative;
}

u {
    display: inline-block;
    background: url("/assets/img/i.png");
    height: 72px;
    width: 72px;
}

#m :first-child:hover > u {
    transform: rotate(-15deg) scale(1.1);
}

#m .t:hover h1 {
    color: rgba(0,0,0,.1);
}

.a {
    transition: all .1s;
}

.g {
    padding-top: 63.6%;
    display: inline-block;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 50%;
    margin-top: -31.8%;
}

#i1 {
    background-image: url("/assets/img/1.png");
}

#i2 {
    background-image: url("/assets/img/2.png");
}

#i3 {
    background-image: url("/assets/img/3.png");
}

#i4 {
    background-image: url("/assets/img/4.png");
}

#i5 {
    background-image: url("/assets/img/5.png");
}

#i6 {
    background-image: url("/assets/img/6.png");
}

#i7 {
    background-image: url("/assets/img/7.png");
}

@import "responsive"