---
---

@forward "vars";
@forward "fonts";

// Apps
@forward "inputs";
@forward "indicators";

// Blog
@forward "blog";
@forward "code";

@forward "apps";
@forward "responsive";
@forward "dark-theme";

html {
    background: var(--bg-color);
    color: var(--text-color);
}

.icon {
    display: inline-block;
    font-family: icon;
}

body {
    min-width: 48rem;
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
    overflow-y: scroll;
    display: flex;
    font-family: text, Helvetica;
}

h1,
h2 {
    margin: 0;
}

h1 {
    font-weight: 400;
}

hr {
    width: 80%;
    color: var(--bg-color);
    margin: 2rem auto;
}

a {
    text-decoration: none;
}

#menu {
    width: 40%;
    margin: 0 1rem;
    max-width: 360px;
}

#content {
    width: 60%;
    margin: 0 1rem;
    flex-grow: 1;
}

.card {
    margin: 2rem 0;
    background: var(--card-color);
    padding: 1rem;
    box-shadow: 5px 5px var(--card-accent);
}

.text-center,
.icon {
    text-align: center;
}

.links > a {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: var(--text-color);

    &.active {
        font-weight: 700;
        color: var(--text-accent);
    }

    & > .icon {
        width: 3rem;
    }
}

a,
nav > a:hover,
.purple {
    color: var(--text-accent);
}

#portfolio .portfolio-item {
    display: flex;

    & > * {
        width: 50%;
        margin: 0 1rem;
    }

    .portfolio-image {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 100%;
        }
    }
}

#menu {
    .text-center:hover h1 {
        color: rgba(0, 0, 0, 0.1);
    }
}

#logo {
    display: grid;
    box-sizing: border-box;
    margin: auto;

    height: 72px;
    width: 72px;

    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "c c b"
        "y x b"
        "y g g";

    border: solid 2px black;
    border-radius: 1px;

    transform: skew(-33.7deg);

    .x {
        grid-area: x;
        border: solid 2px black;
    }

    .c {
        grid-area: c;
        background-color: #4fdfd8;
    }

    .b {
        grid-area: b;
        background-color: #5e97e2;
    }

    .g {
        grid-area: g;
        background-color: #49ff3d;
    }

    .y {
        grid-area: y;
        background-color: #e5f931;
    }
}
