<nav class="card links">
    <h2 class="text-center">Menu</h2>
    {% for item in site.data.navigation %}
    <a {% if page.active == item.name %}class="active"{% endif %} href="{{item.url}}">
        <span class="icon">{{item.icon}}</span> {{item.text}}
    </a>
    {% endfor %}
</nav>
<nav class="card links">
    <h2 class="text-center">Links</h2>
    <a href="https://blog.vcz.fr" style=color:#00ab6c><span class="icon">∵</span> VCZ Blog</a>
    {% if site.data.social.linkedin %}<a href="https://linkedin.com/in/{{site.data.social.linkedin}}" rel="nofollow" style=color:#007bb5><span class="icon"></span> LinkedIn</a>{% endif %}
</nav>