<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vincenzo Scalzi - Web Performance Addict && Engineer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="canonical" href="https://vcz.fr" />
    <link rel="stylesheet" href="/assets/css/global.css">
</head>

<body>
    {% include leftcolumn.html %}

    <div id=g>
        <div>
            {{ content }}
        </div>

        <div class="c t f">
            <p>Developed with ❤</p>
            <p>Vincenzo <b>Scalzi</b></p>
        </div>
    </div>
</body>

</html>